<div>
  <button
    class="button-home"
    mat-fab
    color="primary"
    aria-label="Example icon button with a home icon"
    [routerLink]="'/'"
  >
    <mat-icon>home</mat-icon>
  </button>
  <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
  <app-error [errorMessage]="errorMessage"></app-error>

  <ng-container *ngIf="post">
    <div class="post-container">
      <div class="post-header">
        <h1>{{ post!.title }}</h1>
      </div>
      <div class="post-content">
        <p>{{ post!.body }}</p>
      </div>
    </div>
  </ng-container>
</div>
